.heading-plans{
    text-align: center;
    font-weight:700;
    font-size:2em;
    padding:20px 0px;
}

.price-box {
    position: relative;
    margin-top: 10px;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #e2e2e2;
    background-color: #fff;
    padding: 20px;
    cursor: pointer;
    transition: .2s ease all;
}
.price-box.active{
    border: 2px solid #303030;
}
.price-box h2{
    margin: 0;
    font-size: 1.4em;
    font-weight: bold;
}
.price-box span{
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 100%;
    background-color: #fff;
    outline: 1px solid #e2e2e2;
    transition: .2s ease all;
}
.price-box.active span{
    outline: 2px solid #303030;
    background-color: #303030;
    border: 1px solid #fff;
}
.price-box .price-trial{
    color: rgb(0, 91, 211);
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 1.1em;
}
.price-box .price-plan{
    font-weight: bold;
    font-size: 1.8em;
    margin: 10px 0px 10px 0px;
}
.price-box ul{
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}
.price-box ul li{
    font-family: "Times New Roman",;
    font-weight: 300;
    font-size: 0.9em;
    position: relative;
    padding-left: 10px;
}
.price-box ul li::after{
    content: '';
    position: absolute;
    left: 0px;
    top: 9px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: black;
}

.plan-button{
    text-align: center;
    padding-top:50px;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 40px;
}
.top-bar-text{
    font-size: 1.5em;
    font-weight: 500;
}
.offers-page-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.offers-page-text{
    font-size: 1.5em;
    font-weight: 700;
}
.offers-page-bottom{
    padding-top: 40px;
}
.Polaris-EmptyState__Image{
    opacity: 1 !important;
}
.offers-page-modal{
    position: fixed;
}
.Polaris-Modal-Dialog__Modal .Polaris-LegacyCard::before{
    border-radius: 0px !important;
}
.Polaris-Modal-Dialog__Modal .Polaris-LegacyCard{
    border-radius: 0px !important;
}
.Polaris-Modal-Dialog__Modal .Polaris-Modal-Section section.Polaris-Box{
    padding: 0px !important;
}
.Polaris-Modal-Section .Polaris-ShadowBevel .Polaris-Box:first-child{
    padding: 0px !important;
}
.Polaris-Modal-Section .Polaris-ShadowBevel, .Polaris-Modal-Section .Polaris-ShadowBevel::before{
    border-radius: 0px !important;
}
.bundle-discount-page-cont{
    padding: 20px 40px;
}
.Polaris-FullscreenBar{
    border-radius: 20px !important;
}
.Polaris-FullscreenBar__BackAction{
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}
.bundle-discount-form-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.error-banner{
    padding-bottom: 20px;
}
.products-add-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products-list-item h3{
    text-transform: capitalize !important;
}
.dicount-rules-block ul{
    flex-direction: row;
    justify-content: space-between;
}
.dicount-rules-block ul li{
    min-width: 250px;
}
.discount-rules-fields{
    padding-top: 10px;
}
.offer-view-block .Polaris-BlockStack{
    flex-direction: row;
}
.offer-view-textarea{
    margin-top: 15px !important;
}
.bundle-preview-box-btn button{
    pointer-events: none;
}
.bundle-preview-box-total-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bundle-preview-box-total span.price{
    font-size: 1.5em;
    font-weight: 700;
}
.bundle-preview-box-total span.discount{
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    color:grey;
}
.bundle-discount-form-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.greyP{
    color: #393838;
    font-size: 13px;
}
.greyP2{
    color: rgba(97, 97, 97, 1);
    font-size: 13px;
    line-height: 1.25rem;
}
.publishing-date-card-box .Polaris-ShadowBevel{
    overflow: visible;
}
.dates-start-end input{ 
font-size: 0.8125rem;
font-weight: 450;
line-height: 1.25rem;
letter-spacing: initial;
position: relative;
z-index: 20;
box-sizing: border-box;
width: 100%;
min-width: 0;
min-height: 2rem;
padding: 0.375rem 0.75rem;
background: none;
font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
-webkit-appearance: none;
appearance: none;
border: 0.04125rem solid rgba(138, 138, 138, 1);
border-top-color: #898f94;
border-radius:  0.5rem;
caret-color: rgba(48, 48, 48, 1);
color: rgba(48, 48, 48, 1);
align-items: center;
}
.dates-start, .dates-end{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dates-start-end{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Polaris-FullscreenBar{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 20px;
    z-index: 2;
}
